@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after,
html,
body,
div,
button,
a,
input,
svg .clickable {
  cursor: url('/system/cursor.cur'), auto;
}

html {
  @apply h-screen w-full text-slate-950 break-words m-auto select-none;
  font-size: 14px;
}

input {
  @apply focus:outline-none;
}

button:disabled {
  cursor: url('/system/cursor.cur'), auto;
}

.modal-open {
  overflow: hidden;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: 'OKDDUNG';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKDDUNG.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Katuri';
  src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  /* 'b'가 붙은 텍스트 크기에는 'OKDDUNG' 폰트 적용 */
  .text-omg-24b,
  .text-omg-28b,
  .text-omg-30b,
  .text-omg-40b,
  .text-omg-50b,
  .text-omg-100b {
    @apply font-omg-title;
  }

  /* 'b'가 붙지 않은 텍스트 크기에는 'Katuri' 폰트 적용 */
  .text-omg-14,
  .text-omg-18,
  .text-omg-20,
  .text-omg-24,
  .text-omg-28,
  .text-omg-30 {
    @apply font-omg-body;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-2px);
    }
    50% {
      transform: translateX(2px);
    }
    75% {
      transform: translateX(-2px);
    }
  }

  .animate-shake {
    animation: shake 0.2s ease-in-out infinite;
  }

  .modal-container {
    @apply flex flex-col w-[80%] h-[80%] bg-white bg-opacity-80 rounded-[30px];
  }
}
